# Prediccion contratacion CDT

In [1]:
# Importacion de recursos
import pandas as pd
import numpy as np

#### Lectura Datasets

In [2]:
# Dataset campaing_inf
df_campaing_inf = pd.read_csv('campaign_inf.csv',encoding='utf-8',sep=',')

In [3]:
# Dataset qualitative
df_qualitative = pd.read_csv('qualitative.csv',encoding='utf-8',sep=',')

In [4]:
df_qualitativ

,ID,Edad,Tipo_Trabajo,Estado_Civil,Educacion,Contacto
0,1,57,servicios,casado,bachillerato,telefono fijo
1,2,37,servicios,casado,bachillerato,telefono fijo
2,3,40,administrador negocio,casado,primaria,telefono fijo
3,4,56,servicios,casado,bachillerato,telefono fijo
4,5,25,servicios,single,bachillerato,telefono fijo
...,...,...,...,...,...,...
23094,23095,29,desempleado,soltero,preescolar,celular
23095,23096,46,empleado,casado,Estudiante Universitario,celular
23096,23097,56,pensionado,casado,pregrado,celular
23097,23098,44,tecnico,casado,Estudiante Universitario,celular
23098,23099,74,pensionado,casado,Estudiante Universitario,celular

In [5]:
# Dataset db_split
df_split = pd.read_csv('db_split.csv',encoding='utf-8',sep=',')

In [6]:
df_campaing_inf

,ID,mora,Vivienda,Consumo,Mes,Dia,Campana,Dias_Ultima_Camp,No_Contactos,Resultado_Anterior,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,1,unknown,no,no,may,mon,1,999,0,sin contacto,1.1,93994.0,-36.4,4857.0,5191.0,0.0
1,2,no,si,no,may,mon,1,999,0,sin contacto,1.1,93994.0,-36.4,4857.0,5191.0,NaN
2,3,no,no,no,may,mon,1,999,0,sin contacto,1.1,93994.0,-36.4,4857.0,5191.0,0.0
3,4,no,no,si,may,mon,1,999,0,sin contacto,1.1,93994.0,-36.4,4857.0,5191.0,0.0
4,5,no,si,no,may,mon,1,999,0,sin contacto,1.1,93994.0,-36.4,4857.0,5191.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23094,23095,no,si,no,nov,fri,1,9,1,satisfactorio,-1.1,94767.0,-50.8,1028.0,4963.6,NaN
23095,23096,no,no,no,nov,fri,1,999,0,sin contacto,-1.1,94767.0,-50.8,1028.0,4963.6,NaN
23096,23097,no,si,no,nov,fri,2,999,0,sin contacto,-1.1,94767.0,-50.8,1028.0,4963.6,0.0
23097,23098,no,no,no,nov,fri,1,999,0,sin contacto,-1.1,94767.0,-50.8,1028.0,4963.6,1.0
23098,23099,no,si,no,nov,fri,3,999,1,fallido,-1.1,94767.0,-50.8,1028.0,4963.6,0.0

# Descripcion de los datos

### Datos de la tabla campaing_inf 
- En terminos generales esta tabla trata sobre datos historicos de campañas que determinan algunas dimenciones relevantes, en donde el cliente decide tomar o no un CDT *(Certificado de Depocito a Termino Fijo)* la columna *Y* determina 0 para no 1 para si

*Los datos aqui suministrados se trabajan basado en un analisis general de los datos, dado que no se conoce a profundidad el origen ni el contexto de los datos*
*La granularidad de los datos esta a nivel de cliente, lo que indica que el dataset esta contanto la historico por cada cliente en la campaña*

| #  | campo                  | descripción                                                                                              | tipo datos Original | Tipo de datos Preprocesamiento |
|----|------------------------|----------------------------------------------------------------------------------------------------------|---------------------|--------------------------------|
| 1  | ID                     | Identificación única de cada cliente en la base de datos                                                | INTEGER             | INTEGER                        |
| 2  | mora                   | Indica si el cliente estaba en mora (por ejemplo, 'yes' o 'no')                                         | TEXT                | INTEGER                        |
| 3  | Vivienda               | Indica si el cliente tiene (si) o no (no) vivienda propia                                               | TEXT                | INTEGER                        |
| 4  | Consumo                 | Indica si el cliente tiene (si) o no (no) un producto de consumo                                        | TEXT                | INTEGER                        |
| 5  | Mes                    | Nombre del mes en el que se realizó la campaña (por ejemplo, 'mayo')                                    | TEXT                | INTEGER                        |
| 6  | Dia                    | Nombre del día de la semana en que se realizó la campaña (por ejemplo, 'lunes')                         | TEXT                | INTEGER                        |
| 7  | Campana                | Número de identificación de la campaña específica                                                       | INTEGER             | INTEGER                        |
| 8  | Dias_Ultima_Camp       | Número de días transcurridos desde la última campaña realizada                                         | INTEGER             | INTEGER                        |
| 9  | No_Contactos            | Número total de contactos realizados con el cliente                                                     | INTEGER             | INTEGER                        |
| 10 | Resultado_Anterior     | Resultado de la campaña anterior: si el cliente fue contactado (1) o no (0)                              | TEXT                | INTEGER                        |
| 11 | emp_var_rate           | Tasa de variación del empleo: el cambio porcentual en el número de empleos en el período actual            | FLOAT                | FLOAT                           |
| 12 | cons_price_idx         | Índice de precios al consumidor: medida del costo de vida que refleja los cambios en los precios          | FLOAT                | FLOAT                           |
| 13 | cons_conf_idx          | Índice de confianza del consumidor: medida de la confianza del consumidor en la economía                  | FLOAT                | FLOAT                           |
| 14 | euribor3m              | Tasa Euribor a 3 meses: tasa de interés interbancaria a 3 meses en la zona euro                           | FLOAT                | FLOAT                           |
| 15 | nr_employed            | Número total de empleados en la región o país                                                               | FLOAT                | FLOAT                           |
| 16 | y                      | Variable objetivo: indica si el cliente aceptó (1) o no (0) la oferta de CDT                              | INTEGER             | INTEGER                        |

In [32]:
df_campaing_inf['mora'].unique()

array(['unknown', 'no', 'si'], dtype=object)

In [12]:
df_campaing_inf['Consumo'].unique()

array(['no', 'si', 'unknown'], dtype=object)